/* Import variables for mostly color codes */

@import url("assets/css/variables.css");

/* Main Css Styles */
/* custom font */
@font-face {
    font-family: "nemorosa";
    src: url("assets/fonts/Fontspring-DEMO-nemorosa-regular.otf") format("truetype");
}

/* Reset styles */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* Normalize styles */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Typography */

body {
    color: var(--primary-color) !important;
    font-family: "nemorosa", Arial, sans-serif;
    font-size: var(--font-size);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--header-color) !important;
    font-weight: bold;
}

h1 {
    font-size: var(--large-header-size);
}

h2 {
    font-size: var(--large-size);
}

h3,
h4,
h5,
h6 {
    font-size: var(--small-header-size);
}

a {
    text-decoration: none !important;
}

p,
h1 {
    word-spacing: 2px;
}

/* targetting specific Elements */
div#main_body_wrapper {
    background-color: var(--primary-background);
    min-height: 100vh;
    padding-top: 2rem;
    width: 100%;
}

header {
    background-color: var(--secondary-background);
    border-radius: 50px;
    margin: auto;
    padding-bottom: 11rem;
    padding-inline: 4rem;
    padding-top: 5rem;
    width: 80%;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: var(--secondary-background) !important;
}

a.navbar-brand {
    width: 5%;
}

.intro {
    position: relative;
}

.intro p {
    font-size: --small-header-size;
    width: 60%;
}

a.play_now {
    background-color: var(--header-color);
    border: none;
    border-radius: 5px;
    color: var(--secondary-color);
    cursor: pointer;
    display: inline-block;
    font-size: var(--small-text-size);
    font-weight: bold;
    padding: 5px 20px;
}

a.play_now:hover {
    background-color: var(--secondary-background) !important;
    border: 1px solid var(--header-color) !important;
    color: var(--primary-color) !important;
}

a.play_now+a.play_now {
    margin-left: 2%;
    padding: 5px 10px;
}

.tv_ball {
    position: absolute;
    right: 0%;
    top: -90px;
    width: 40%;
}

.tv_ball img {
    transform: scaleX(-1);
}

/* WELCOME SECTION */

#welcome_section {
    padding-bottom: 1rem;
    width: 100%;
}

.content_warpper {
    background-color: var(--secondary-background);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 6rem;
    width: 70%;
}

.main_contents {
    width: 60%;
}

.main_contents p {
    margin-bottom: 1.5rem;
}

.gamble_options {
    display: flex;
    gap: 15%;
    justify-content: center;
    margin: auto;
    width: 60%;
}

.assets {
    background-color: var(--secondary-background);
    border: 4px solid var(--header-color);
    border-radius: 5rem;
    height: 19rem;
    width: 35%;
}

.assets img {
    height: auto;
    max-width: 100%;
    /* transform: translateY(60px); */
    position: relative;
    top: 30px;
}

.bitcoin img {
    margin-left: 20px;
    max-width: 80%;
}

/* footer */
footer {
    background-color: var(--secondary-background);
    width: 100%;
}

.footer_wrapper h1 {
    color: white ! important;
}

.socials {
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;
}

.socials img {
    max-width: 60%;
}

.logo {
    width: 50px;
}

.company_name {
    color: var(--primary-color);
    font-size: var(--large-header-size);
    margin-left: 15px;
}

.footer-bottom p,
a {
    font-size: var(--small-text-size);
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
    .assets {
        height: 15rem;
    }
}

/* devices above (768px) */
@media (min-width: 767.98px) {
    .mt-4.w-50 {
        height: 4vw;
    }
}


/* `lg` applies to medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    header {
        padding-bottom: 9rem;
    }

    .tv_ball {
        top: 0px;
        width: 30%;
    }

    .assets {
        border-radius: 3rem;
        height: 12rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    header {
        padding-bottom: 5rem;
        padding-top: 3rem;
    }

    a.navbar-brand {
        width: 12%;
    }

    .tv_ball {
        top: -25px;
        width: 40%;
    }

    .intro p {
        font-size: 12.5px;
        width: 50%;
    }

    .intro h1 {
        font-size: 20px;
    }

    .mt-4.w-50 {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 10%;
        height: 4rem;
    }

    a.play_now {
        font-size: 12px;
    }

    a.play_now+a.play_now {
        margin-left: 0% !important;
        padding: 5px 10px;
    }

    .content_warpper {
        padding-bottom: 3rem;
        width: 70%;
    }

    .main_contents h2 {
        font-size: 20px;
    }

    .main_contents {
        margin-top: 12px;
    }

    .main_contents.w-80 h2 {
        font-size: 20px;
    }

    .main_contents p {
        font-size: 12.5px;
    }

    .assets {
        height: 10rem;
    }

    .footer_wrapper h1 {
        font-size: 20px;
    }

    .socials {
        height: 35px;
        width: 35px;
    }

    .company_name {
        font-size: 20px;
    }

}


/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    header {
        width: 95%;
    }

    .tv_ball {
        top: 0px;

    }

    .main_contents {
        width: 70%;
    }

    .main_contents h2 {
        font-size: 18px;
    }

    .content_warpper {
        width: 95%;
    }

    .bitcoin img {
        margin-left: 10px;
    }

    .assets {
        border-radius: 2rem;
        height: 8rem;
    }
}





@media (max-width: 430px) {

    header {
        padding-inline: 2rem;
    }


    .assets {
        height: 7rem;
        width: 100%;
    }


    .bitcoin img {
        margin-left: 10px;
    }

    .footer_wrapper h1 {
        font-size: 18px;
    }

    .socials {
        height: 25px;
        width: 25px;
    }

    .company_name {
        font-size: 18px;
    }
}

@media (max-width: 380px) {

    header {
        padding-top: 1rem;
    }

    .intro h1 {
        font-size: 16px;
    }

    .main_contents h2 {
        font-size: 16px;
    }

    .bitcoin img {
        margin-left: 10px;
    }

    .footer_wrapper h1 {
        font-size: 18px;
    }

    .socials {
        height: 25px;
        width: 25px;
    }

    .company_name {
        font-size: 18px;
    }
}